<div class="container">
  <div class="row">
    <table class="table table-bordered" border="1">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Status</th>
          <th scope="col">Type</th>
          <th scope="col">Place Id</th>
          <th scope="col">Address</th>
          <th scope="col">Characteristic</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filteredDataset">
          <th scope="row">{{ data.id }}</th>
          <td>{{ data.status }}</td>
          <td>{{ data.type }}</td>
          <td>
            <tr *ngFor="let place of data.place">
              <td>{{ place.id }}</td>
            </tr>
          </td>
          <td>
            <tr *ngFor="let place of data.place">
              {{
                place.address.name
              }},
              {{
                place.address.streetNumber
              }},
              {{
                place.address.streetType
              }},
              {{
                place.address.locality
              }},
              {{
                place.address.state
              }},
              {{
                place.address.esaId
              }}
              <br /><strong>PostCode: </strong
              >{{
                place.address.postCode
              }}
            </tr>
          </td>
          <td>
            <ul>
              <li *ngFor="let characteristic of data.characteristic">
                <strong>{{ characteristic.name | uppercase }}</strong>
                :
                {{ characteristic.value }}
                <br />
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
